.editor {
  &, .gutter {
    background-color: #2b2b2b;
    color: #e6e1dc;
  }

  &.is-focused {
    .cursor {
      border-color: #fff;
    }

    .selection .region {
      background-color: rgba(90, 100, 126, 0.6);
    }

    .line-number.cursor-line-no-selection, .line.cursor-line {
      background-color: #333435;
      background-color: #333435;
    }
  }

  .indent-guide,
  .invisible-character {
    opacity: 0.1;
  }
}

.comment {
  font-style: italic;
  color: #bc9458;
}

.keyword,
.storage {
  color: #cc7833;
}

.entity.name.function,
.keyword.other.name-of-parameter.objc {
  color: #ffc66d;
}

.entity.name {
  color: #ffffff;
}

.constant.numeric {
  color: #a5c261;
}

.variable.language,
.variable.other {
  color: #d0d0ff;
}

.constant {
  color: #6d9cbe;
}

.variable.other.constant {
  color: #da4939;
}

.constant.language {
  color: #6e9cbe;
}

.string {
  color: #a5c261;
}

.support.function {
  color: #da4939;
}

.support.type {
  color: #6e9cbe;
}

.support.constant {
  color: #a5c261;
}

.meta.tag,
.declaration.tag,
.entity.name.tag,
.entity.other.attribute-name {
  color: #e8bf6a;
}

.invalid {
  color: #ffffff;
  background-color: #990000;
}

.constant.character.escaped,
.constant.character.escape,
.string .source,
.string .source.ruby {
  color: #519f50;
}

.markup.inserted {
  color: #e6e1dc;
  background-color: #144212;
}

.markup.deleted {
  color: #e6e1dc;
  background-color: #660000;
}

.meta.diff.header,
.meta.separator.diff,
.meta.diff.index,
.meta.diff.range {
  background-color: #2f33ab;
}
